**
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!apps
!apps/server
!apps/server/package.json
!apps/server/tsconfig.json
!apps/server/src
!apps/server/src/**
!packages
!packages/api
!packages/api/package.json
!packages/api/tsconfig.json
!packages/api/src
!packages/api/src/**
!packages/typescript-config
!packages/typescript-config/*.json
